{% extends "base.html" %}
<!-- {% load static %} -->

{% block content %}
<!-- <div class="container-sm"> -->
    <div class="profile">
        <h1>{{ name }}</h1>
        <p>{{ description }}</p>

        <a href={{ twitter }} target="_blank"><img src="static/images/twitter.svg"></a>
        <a href={{ linkedin }} target="_blank"><img src="static/images/linkedin.svg"></a>
        <a href={{ github }} target="_blank"><img src="static/images/github.svg"></a>
    </div>

<!-- </div> -->

{% endblock content %}

